body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}


/* Create a Parallax Effect */

.main-hero-img,
.socials-hero-img,
.server-hero-img,
.contact-hero-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* First image (Logo. Full height) */

.main-hero-img {
    background-image: url('assets/server-panorama.png');
    min-height: 100%;
}


/* Second image (About) */

.socials-hero-img {
    background-image: url("assets/server-panorama.png");
    min-height: 300px;
}


/* Third image (Contact) */

.server-hero-img {
    background-image: url("assets/server-panorama.png");
    min-height: 300px;
}


/* fourth image (Contact) */

.contact-hero-img {
    background-image: url("assets/server-panorama.png");
    min-height: 300px;
}

.profile-picture-radius {
    border-radius: 50%;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.w3-tint {
    background-color: rgb(80, 80, 80, .5);
    /* Tint color */
    background-blend-mode: multiply;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-width: 601px) {
    .main-hero-img,
    .socials-hero-img,
    .server-hero-img,
    .contact-hero-img {
        background-attachment: scroll;
        min-height: 200px;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: white;
    }
    footer {
        background-color: #bdbdbd
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgb(85, 85, 85);
        background-color: rgb(240, 240, 240);
    }
    .main-hero-img,
    .socials-hero-img,
    .server-hero-img,
    .contact-hero-img {
        background-color: rgba(71, 71, 71, 0.5);
        /* Tint color */
        background-blend-mode: multiply;
    }
    footer {
        color: rgb(226, 226, 226);
        background-color: #616161
    }
}