*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll_indicator {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px;
}

.scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    margin: 0 0 3px 4px;
    width: 32px;
    height: 32px;
}

.one,
.two,
.three {
    -webkit-animation: scroll_indicator 1s infinite;
    -moz-animation: scroll_indicator 1s infinite;
    animation: scroll_indicator 1s infinite;
}

.one {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.two {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.three {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

@-webkit-keyframes scroll_indicator {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes scroll_indicator {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes scroll_indicator {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scroll_indicator {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    .scroll_arrows {
        border-right: 3px solid white;
        border-bottom: 3px solid white;
    }
}

@media (prefers-color-scheme: light) {
    .scroll_arrows {
        border-right: 3px solid white;
        border-bottom: 3px solid white;
    }
}

@media (prefers-color-scheme: light) {
    .scroll_arrows {
        border-right: 3px solid white;
        border-bottom: 3px solid white;
    }
}